.mainContainer{
    display: flex;
    width: 100%;
    /* height: 100%;  */
    padding-top: 60px;
}
.containerImg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}
.loading{
    width: 9%;
    height: 15%;
    position: fixed;
    left: auto;
    right: auto;
    top: 250px;
}
.information{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    align-items: flex-start;
}
.content{
    display: flex;
    margin-top: 0%;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5px;
}
.allInfo{
    margin-left: 5%;
    margin-right: 5%;
}
.mainImage{
    width: 50%;
    height: 40%;
    margin-bottom: 10px;
}
