.allpages{
    display: flex;
    background-color: #A8E890;
    justify-self: center;
    width: max-content;
    padding: 0%;
}
.pagenumber{
    display: flex;
    justify-items: center;
    margin: 0%;
    border: 0.1rem solid black;
    padding: 0.2rem 1rem;
}
.pagenumber:hover{
    cursor: pointer
}
nav{
    display: flex;
    justify-content: center;
}